{% extends 'templates/app.twig' %}

{% block content %}

  <div class="row text-center">
    <div class="col-12 mb-4 mt-2 text-center" id="searchBox">
      {# SEARCH BOX #}
      {% include 'templates/partials/searchBox.twig' %}
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center" id="details">

      {% if results.Response %}

        <h3 class="font-weight-bold">{{ results.Title }}<br>({{ results.Year }})</h3>

        <img src="{{ results.Poster }}" class="img-fluid" id="posterImg" alt="Image">

        {% for val in results.Ratings %}
          <p><b>{{ val.Source }} Rating</b><br>{{ val.Value }}</p>
        {% endfor %}

      {% endif %}

    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center" id="debug">
      {% if debugMode %}
        {# Detailed Info #}
        {{ dump(results) }}
      {% endif %}
    </div>
  </div>

{% endblock %}
