{% extends 'templates/app.twig' %}

{% block content %}

  <section>
    <div class="container">
      <div class="row">

        <div class="col-md-6" id="userAvatar">
          <div class="img-thumbnail">{{ auth.user.gravatar(auth.user.email, 256)|raw }}</div>
        </div>

        <div class="col-md-6" id="userInfo">
          <p><b>Name:</b> {{ auth.user.name }}</p>
          <p><b>Email:</b> {{ auth.user.email }}</p>
          <p><b>Created:</b> {{ auth.user.created_at }}</p>
          <p><b>Last Seen:</b> {{ auth.user.updated_at }}</p>
        </div>

      </div>
    </div>
  </section>

{% endblock %}
