<div class="col-sm-12 col-md-6 col-lg-4 hoverCard">
    <h3>{{ movie.title }}</h3>
    {# movie.original_title #}
    <img class="img-fluid" src="{{ TmdbImage }}{{ movie.poster_path }}">
    <p>ID: {{ movie.id }}</p>
    <p>Avg Rating: {{ movie.vote_average }}</p>
    <p>Released: {{ movie.release_date }}</p>
    <p>Overview: {{ movie.overview }}</p>

    {% for genre in movie.genre_ids %}
        {# genre #}
    {% endfor %}

</div>