
<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-3">
  <div class="box16">

    {# POSTER IMAGE #}
    {% if val.poster_path %}
      <img class="img-fluid" src="https://image.tmdb.org/t/p/w300{{ val.poster_path }}" alt="Image">
    {% else %}
      <img class="img-fluid" data-src="holder.js/300x450/?random=yes&text=No Image Found!" width="300" height="450" alt="Image">
    {% endif %}

    <div class="box-content">

      {# NAME AND RELEASE YEAR #}
      {% if val.title and val.release_date %}
        <h4 class="title">{{ val.title }} ({{ val.release_date|date('Y') }})</h4>
      {% elseif val.original_title and val.release_date %}
        <h4 class="title">{{ val.original_title }} ({{ val.release_date|date('Y') }})</h4>
      {% else %}
        <h4 class="title">Unknown</h4>
      {% endif %}

      {# MOVIE/SHOW ID #}
      {% if val.id %}
        <ul class="social">
          <li>
            <a href="#" class="rating tDown" onClick="console.log('Thumbs Down Clicked!');">
              <i class="fas fa-thumbs-down mt-2"><p class="smallThumbs">-1</p></i>
            </a>
          </li>
          <li>
            <a href="#" class="rating tUp" onClick="console.log('Thumbs Up Clicked!');">
              <i class="fas fa-thumbs-up mt-2"><p class="smallThumbs">+1</p></i>
            </a>
          </li>
        </ul>
      {% endif %}

      {% if val.popularity %}
        {# BADGE FOR AVG RATING - Maybe Star Rating System? #}
        <span class="avgRate summary">Avg Rating: </span><span class="summary badge badge-default waBadge" id="badge_{{ val.id }}"> {{ val.vote_average }}</span>
      {% endif %}

      {# OVERVIEW / PLOT #}
      {% if val.overview %}
        <p class="summary mt-3">{{ val.overview|truncate(150, true, '...') }}</p>
      {% else %}
        <p class="summary mt-3">Sorry, no info available!</p>
      {% endif %}

      {# READ MORE #}
      {% if val.title %}
        {% set name = val.title|slugify %}
        <a href="/movie/{{ name }}" id="{{ val.id }}" class="btn btn-primary"><b>Read More</b></a>

      {% elseif val.original_title %}
        {% set name = val.original_title|slugify %}
        <a href="/movie/{{ name }}" id="{{ val.id }}" class="btn btn-primary"><b>Read More</b></a>

      {% else %}
        <a href="#" class="btn btn-primary disabled"><b>No Info!</b></a>
      {% endif %}

    </div>

  </div>
</div>
