{% spaceless %}

{# !!!!! SET THESE VARS !!!!! #}
{# itemCount - total no of items #}
{# itemsPerPage - number of items displayed per page %}
{# currentPage - page number of current page #}

{% if itemCount is defined and itemCount > 0 %}

  {% set lastPage = (itemCount/itemsPerPage)|round(0, 'ceil') %}
  {% set mid = currentPage >= lastPage-2 ? lastPage-2 : currentPage <= 3 ? 3 : currentPage %}

  {% if lastPage > 1 %}
  <div class="pagination text-center">
    <span>

    {% if currentPage %}
      <a href="/?page={{ currentPage - 1 }}"><i class="fas fa-angle-double-left"></i></a>
    {% endif%}

      {% if lastPage > 5 %}
        {% for i in -2..2 %}
          <a class="{{ mid + i == currentPage ? 'active':''}}" href="/?page={{mid+i}}">{{mid+i}}</a>
        {% endfor %}
      {%else%}
        {% for i in 1..lastPage %}
          <a class="{{ i == currentPage ? 'active':''}}" href="/?page={{i}}">{{i}}</a>
        {% endfor %}
      {%endif%}

      {% if currentPage != lastPage %}
        <a href="/?page={{currentPage+1}}"><i class="fas fa-angle-double-right"></i></a>
        {# <a href="/?page={{lastPage}}">LAST PAGE</a> #}
      {% endif%}

  {% endif %}
  {% endif %}
  </span>
</div>

{% endspaceless %}
