<div class="movieCard col-xs-12 col-sm-6 col-md-4 col-lg-4">

  <div class="card">

    <div class="front">

      {% if val.poster_path %}
        <img class="card-img" src="https://image.tmdb.org/t/p/w300{{ val.poster_path }}" alt="Image">
      {% else %}
        <img class="card-img" data-src="holder.js/100px425?random=yes&text=No Image" alt="Image">
      {% endif %}

      <div class="card-img-overlay"></div>

    </div>
    <div class="back">

      {% if val.poster_path %}
        <img class="card-img" src="https://image.tmdb.org/t/p/w300{{ val.poster_path }}" alt="Image">
      {% else %}
        <img class="card-img" data-src="holder.js/100px425?random=yes&text=No Image" alt="Image">
      {% endif %}

      <div class="card-img-overlay backOverlay">

        {% if val.title %}
          <h5 class="card-title"><b>{{ val.title }}</b></h5>
        {% elseif val.original_title %}
          <h5 class="card-title"><b>{{ val.original_title }}</b></h5>
        {% else %}
          <h5 class="card-title"><b>Name Unknown</b></h5>
        {% endif %}

        {% if val.vote_average %}
        {% set oRating = val.vote_average|round %}
        {% set mRating = val.vote_average|round - 1 %}
        {% set pRating = val.vote_average|round + 1 %}

        <select class="custom-select">
          {% for i in range(1, mRating) %}
            <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
          <option value="{{ val.vote_average|round }}" selected="{{ val.vote_average|round }}">{{ val.vote_average|round }}</option>
          {% for i in range(pRating, 10) %}
            <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select>

        <h6 class="card-text mt-2">Total Votes: {{ val.vote_count }}</h6>
        {% else %}
        <h6 class="card-text">No Votes!</h6>
        {% endif %}

        {% if val.overview %}
        <br>
        <h6 class="card-text">{{ val.overview|truncate(325, true, '...') }}</h6>
        {% else %}
        <p class="card-text"></p>
        {% endif %}

      </div>
    </div>
  </div>
</div>
